section .row{margin-bottom: 20px;}

.text-form{width: 100%; border: none; outline: none; line-height: 30px;background: #fff;
	-webkit-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.46);
	-moz-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.46);
	box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.46);
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding: 0px 15px;
	font-size: 14px;
	font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

textarea{height: 200px;}

.submit-form{display: inline-block; background: #2059fc; font-size: 14px; padding: 8px 0px; color: #fff; font-family: NexaBold; width: 100%; text-align: center;
    -moz-border-radius: 7px; 
    -webkit-border-radius: 7px; 
    border-radius: 7px;
	outline: none;
	border: none;
}

